/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
i {
    color: white;
}
.lime {
    color: lime;
}
.mr-10 {
    margin-right: 10px;
}




/* header */
header {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.view-btn, .zoom-btn {
    background: linear-gradient(to bottom, #3d3d3d, #242424);
    border-radius: 3px;
    padding: 3px 6px;
}
.view-btn span {
    color: lightgray;
    font-size: 12px;
    margin-left: 5px;
}
.view-btn i, .zoom-btn i {
    font-size: 14px;
}
.zoom-btn {
    margin: 0 10px 0 5px;
}



/* main */
main {
    height: calc(100vh - 110px);
    background-color: black;
}
.swipe-left-box {
    width: 5%;
}
.swipe-right-box {
    width: 5%;
}
.user-screen-box {
    width: 90%;
}
/* COLONNE LATERALI */
.big-flex-container {
    height: 100%;
    display: flex;
}
.swipe-left-box, .swipe-right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swipe-left-box i, .swipe-right-box i {
    font-size: 35px;
    color: lightgray;
}
.swipe-left-box span, .swipe-right-box span {
    font-size: 12px;
    color: white;
}
/* COLONNA CENTRALE */
.user-screen-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    overflow: auto;
}
.user-box {
    width: calc(100% / 5 - 4px);
    height: 150px;
    margin: 2px;
    background-image: url(../img/user-img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: lightyellow;
    position: relative;
}
.name-microphone {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1px;
}
.name-microphone i {
    font-size: 14px;
}
.name-microphone .name-user {
    font-size: 12px;
    font-weight: 500;
    color: white;
}
.swipe-right-box .active {
    color: #2ebaff;
}



/* footer */
footer {
    height: 60px;
    background-color: #1d2021;
}
nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a4b4d;
}
.nav-right .end-meeting-btn {
    padding: 20px;
}
.nav-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
} 
.number::after {
    content: "28";
    font-size: 10px;
    position: relative;
    bottom: 10px;
    left: 5px;
}
.icon-box {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 15px;
}
.icon-box span {
    color: white;
    font-size: 12px;
}
.icon-box i {
    font-size: 25px;
    margin-bottom: 2px;
}
.icon-chevron i {
    font-size: 12px;
}
.end-meeting-btn {
    color: red;
    font-size: 12px;
    font-weight: 500;
}



