/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
i {
    color: white;
}



/* header */
header {
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.view-btn, .zoom-btn {
    background: linear-gradient(to bottom, #3d3d3d, #242424);
    border-radius: 3px;
    padding: 3px 6px;
}
.view-btn span {
    color: lightgray;
    font-size: 12px;
    margin-left: 5px;
}
.view-btn i, .zoom-btn i {
    font-size: 14px;
}
.zoom-btn {
    margin: 0 10px 0 5px;
}
.swipe-right-box .active {
    color: #2ebaff;
}



/* main */
main {
    height: calc(100vh - 100px);
    background-color: black;
}
.swipe-left-box {
    width: 5%;
}
.swipe-right-box {
    width: 5%;
}
.user-screen-box {
    width: 90%;
}
/* COLONNE LATERALI */
.big-flex-container {
    height: 100%;
    display: flex;
}
.swipe-left-box, .swipe-right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swipe-left-box i, .swipe-right-box i {
    font-size: 35px;
    color: lightgray;
}
.swipe-left-box span, .swipe-right-box span {
    font-size: 12px;
    color: white;
}
/* COLONNA CENTRALE */
.user-screen-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.user-box {
    width: calc(100% / 5 - 4px);
    margin: 2px;
    background-image: url(../img/user-img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: lightyellow;
    position: relative;
}
.name-microphone {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1px;
}
.name-microphone i {
    font-size: 14px;
}
.name-microphone .name-user {
    font-size: 12px;
    font-weight: 500;
    color: white;
}


/* *****debug***** */



